In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data = pd.read_csv('olympics_medals_country_wise.csv')
data.head(3)

,countries,ioc_code,summer_participations,summer_gold,summer_silver,summer_bronze,summer_total,winter_participations,winter_gold,winter_silver,winter_bronze,winter_total,total_participation,total_gold,total_silver,total_bronze,total_total
0,Afghanistan,(AFG),15,0,0,2,2,0,0,0,0,0,15,0,0,2,2
1,Algeria,(ALG),14,5,4,8,17,3,0,0,0,0,17,5,4,8,17
2,Argentina,(ARG),25,21,26,30,77,20,0,0,0,0,45,21,26,30,77

## The beginning. 
Understanding the dataset, its columns and information.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   countries              156 non-null    object
 1   ioc_code               156 non-null    object
 2   summer_participations  156 non-null    int64
 3   summer_gold            156 non-null    object
 4   summer_silver          156 non-null    int64
 5   summer_bronze          156 non-null    int64
 6   summer_total           156 non-null    object
 7   winter_participations  156 non-null    int64
 8   winter_gold            156 non-null    int64
 9   winter_silver          156 non-null    int64
 10  winter_bronze          156 non-null    int64
 11  winter_total           156 non-null    int64
 12  total_participation    156 non-null    int64
 13  total_gold             156 non-null    object
 14  total_silver           156 non-null    int64
 15  total_bronze           156 non-null    int64
 16  total_total            156 non-null    object
dtypes: int64(11), object(6)
memory usage: 20.8+ KB

In [4]:
data.shape

(156, 17)

### Dataset health

In [5]:
# let's check the duplicated
data.duplicated().sum()

0

In [6]:
# let's check the null
data.isnull().sum()

countries                0
ioc_code                 0
summer_participations    0
summer_gold              0
summer_silver            0
summer_bronze            0
summer_total             0
winter_participations    0
winter_gold              0
winter_silver            0
winter_bronze            0
winter_total             0
total_participation      0
total_gold               0
total_silver             0
total_bronze             0
total_total              0
dtype: int64

A too perfect dataset.